footer {
  @include container;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 40px;
  color: var(--darkGrayishBlue);
  font-size: 14px;
  margin-top: 40px;
  position: fixed;
  bottom: 0;
  max-width: 100% !important;
  z-index: 0;

  a {
    color: var(--darkGrayishBlue);
  }
}
